.heading {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

.text {
  color: $color-text-primary;
  margin-top: 0px;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}
