.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: $shadow-md;
  transition: all 0.3s ease;
  border-radius: $border-radius-md;

  &:active {
    box-shadow: none;
  }

  &-primary {
    border: 1px solid $color-border-button-neutral;
    background: linear-gradient(
      to bottom,
      $color-bg-static-subtlest,
      $color-bg-static-subtlest 43.75%,
      $color-border-button-neutral 100%
    );
    color: $color-text-primary;
  }
}
