// colors
$color-text-primary: #2a2a2a;
$color-text-warning: #934e13;
$color-link-brand-default: #167880;
$color-icon-brand: #1c919c;
$color-theme-brand-200: #cdf0f2;
$color-border-button-neutral: #dddddd;
$color-border-static-neutral: #dddddd;
$color-bg-static-warning: #fee4ac;
$color-bg-static-neutral: #ffffff;
$color-bg-static-subtle: #fafafa;
$color-bg-static-subtlest: #ffffff;

// breakpoints
$breakpoint-xl: 1200px;

// border radius
$border-radius-md: 0.25rem;

// shadows
$shadow-md: 0px 2px 4px 0px rgba(151, 151, 151, 0.5), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
